<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Tasker
	</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
	<header class="header">
		<h1><%= link_to 'Welcome to Tasker!', root_path %>  </h1>
		<h3> The Social To-Do List </h3>
	</header>

	<div class="navbox">
		<div class="button"> <%= link_to 'Home', root_path %></div>
		<% if user_signed_in? %>
		<div class="button"><%= link_to 'My Profile', current_user %></div>
			<div class="rightbutton"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></div>
			<div class="rightbutton"><%= link_to 'Welcome,', edit_user_registration_path %> <%= current_user.name %> </div>
		<% else %>
  			<div class="rightbutton"><%= link_to 'Log In', user_session_path %></div>
  			<div class="rightbutton"><%= link_to 'Sign Up', new_user_registration_path %></div>
		<% end %> 
	</div>

	<div class="main">
		<h1>Tasks#create</h1>
	</div>
	<footer class="footer">
    Copyrighted by us in 2015
  </footer>
</div>
</body>
</html>
