<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Tasker
  </title>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
  <header class="header">
    <h1><%= link_to 'Welcome to Tasker!', root_path %> </h1>
    <h3> The Social To-Do List </h3>
  </header>

  <div class="navbox">
    <div class="button"> <%= link_to 'Home', root_path %></div>
    
    <% if user_signed_in? %>
    <div class="button"><%= link_to 'My Profile', current_user %></div>
    <div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
      <div class="rightbutton"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></div>
    <% else %>
        <div class="rightbutton"><%= link_to 'Log In', user_session_path %></div>
        <div class="rightbutton"><%= link_to 'Sign Up', new_user_registration_path %></div>
    <% end %> 
  </div>

  <div class="main">

<div class="container">
  <div class="signinbubble">
  <div class="row">
    <h3>All Users</h3>
    <div class="column">
      <table class="table1" cellpadding="10">
        <tbody>
          <% if user_signed_in? %>
            <% @users.each do |user| %>
              <tr>
                 <td><%= link_to user.name, user %></td>
  			         <td><%= link_to user.email, user %></td>
              </tr>
            <% end %>
          <% else %>
            <p> You must be logged in to view users </p>
           <% end %> 
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
  <footer class="footer">
    Copyrighted by us in 2015
  </footer>
</div>
</body>
</html>
