<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Tasker
	</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
	<header class="header">
		<h1><%= link_to 'Welcome to Tasker!', root_path %> </h1>
		<h3> The Social To-Do List </h3>
	</header>

	<div class="navbox">
		<div class="button"> <%= link_to 'Home', root_path %></div>
		
		<% if user_signed_in? %>
		<div class="button"><%= link_to 'My Profile', current_user %></div>
		<div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
			<div class="rightbutton"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></div>
		<% else %>
  			<div class="rightbutton"><%= link_to 'Log In', user_session_path %></div>
  			<div class="rightbutton"><%= link_to 'Sign Up', new_user_registration_path %></div>
		<% end %> 
	</div>

	<div class="main">

<div class="userbox">
<div class="pagetitle">User</div>
<% if user_signed_in? %>
	<p>Name: <%= @user.name if @user.name %></p>
	<p>Email: <%= @user.email if @user.email %></p>
	<% if user_signed_in? %>
		<% if @user != current_user && @not_following %>
			<p> <%=button_to "Follow", friend_path(:id => @user.id), :method => :post %>
		<% end %>
	<% end %>
</div>
	<div class="showwrapper">
	<div class="mytasks">
	<div class= "pagetitle">Tasks</div>
		<h4> Main Priority </h4>
	    <ul>
	        <% if @user.tasks.empty? %>
	            <p>No Tasks!</p>
	        <% else %>
	            <% @user.tasks.each do |task| %>
	            	<% if task.priority %>
		            	<% if @user == current_user %> 
		            		<div>
		            			<div style="display:inline-block;margin-right:10px"> 
									<%= simple_form_for task do |f| %>
		                               <%= f.submit '✓', :class => 'check'%>
		                               <%= task.todo %>
		                            <% end %>
		                        </div>
								<div style="display:inline-block;"> 
			        				<%= button_to "Give Up", delete_path(id: task), :class => 'smallbutton', :method => :patch %> 
			        			</div>
			        		</div>
						<% else %>
							<li> <%= task.todo %>
						<% end %>
					<% end %>
	            <% end %>
	        <% end %>
	    </ul>
	    <h4> Other Tasks</h4>
	    <ul>
	        <% if @user.tasks.empty? %>
	            <p>No Tasks!</p>
	        <% else %>
	            <% @user.tasks.each do |task| %>
	            	<% if not task.finished and not task.priority %>
		            	<% if @user == current_user %> 
		            		<div>
		            			<div style="display:inline-block;margin-right:10px"> 
									<%= simple_form_for task do |f| %>
		                               <%= f.submit '✓', :class => 'check'%>
		                               <%= task.todo %>
		                            <% end %>
		                        </div>
								<div style="display:inline-block;"> 
			        				<%= button_to "Give Up", delete_path(id: task), :class => 'smallbutton', :method => :patch %>
			        			</div>
 								<div style="display:inline-block;"> 
                                	<%= button_to "✮", prioritize_path(id: task), :class => 'smallbutton', :method => :patch %> 
                            	</div>
			        		</div>
						<% else %>
							<li> <%= task.todo %>
						<% end %>
					<% end %>
	            <% end %>
	        <% end %>
	    </ul>

	<% if current_user == @user %>
		 <div class="clicky"> <%= link_to "New Task", tasks_new_path %> </div>
	<% end %>
</div>

<div class="finishedtasks">

	<div class= "pagetitle">Finished Tasks</div>
	    <ul>
	        <% if @user.tasks.empty? %>
	            <p>No Tasks!</p>
	        <% else %>
		        <% @user.tasks.each do |task| %>
		        <% if task.finished %>
		        	<% if @user == current_user %>
		        		<li> <%= task.todo %>
		        			<div style="display:inline-block;"> 
		        				<%= button_to "Delete", delete_path(id: task), :class => 'smallbutton', :method => :patch %> 
		        			</div>
		        		</li>
		        	<% else %>
		        		<li> <%= task.todo %> </li>
		        		<% end %>
		        	<% end %>
		        <% end %>
	        <% end %>
	    </ul>
	</div>

	<div class="following">

	<div class= "pagetitle">Following</div>
	<% @user.friends.each do |friend| %>
	<li> <%= link_to friend.name, friend %> 
		<div style="display:inline-block;"> <%= button_to "Unfollow", destroy_path(id: friend), :class => 'smallbutton', :method => :patch %> 
		</div>
	</li>
	<% end %>
	<% else %> 
		<p> You must be logged in to view user </p>
	<% end %>
</div>
</div>
</div>
	<footer class="footer">
		Copyrighted by us in 2015
	</footer>
</div>
</body>
</html>

