<div class="navbox">
		<div class="button"> <%= link_to 'Home', root_path %></div>
		<div class="button"><%= link_to 'My Profile', current_user %></div>
		<div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
		<div class="button"><%= link_to 'All Users:', users_path %> <%= User.count %> registered </div>
		<% if user_signed_in? %>
			<div class="button login">
  			<%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %>
			<% else %>
  				<%= link_to 'Log In', user_session_path %>
  				<%= link_to 'Sign Up', new_user_registration_path %>
			<% end %> </div>
	</div>
<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% if @user != current_user %>
	<p> <%=button_to "Add Friend", friend_path(id: @user.id), :method => :patch %>
<% end %>
<h4>Tasks</h4>
    <ul>
        <% if @user.tasks.empty? %>
            <p>No Tasks!</p>
        <% else %>
            <% @user.tasks.each do |task| %>
            	<% if not task.finished %>
	            	<% if @user == current_user %>
			          	<%= simple_form_for task do |f| %>
							<li> <%= task.todo %>
							<%=f.submit 'Mark as Completed' %> </li>
							<% end %>
					<% else %>
						<li> <%= task.todo %>
					<% end %>
				<% end %>
            <% end %>
        <% end %>
    </ul>

<% if current_user == @user %>
	 <%= link_to "New Task", tasks_new_path %>
<% end %>

<h4>Finished Tasks</h4>
    <ul>
        <% if @user.tasks.empty? %>
            <p>No Tasks!</p>
        <% else %>
	        <% @user.tasks.each do |task| %>
	        <% if task.finished %>
	        	<% if @user == current_user %>
	        		<li> <%= task.todo %> <%=button_to "Delete", delete_path(id: task), :method => :patch %> </li>
	        	<% else %>
	        		<li> <%= task.todo %> </li>
	        		<% end %>
	        	<% end %>
	        <% end %>
        <% end %>
    </ul>