<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Tasker
  </title>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <h1> Welcome to Tasker! </h1>
      <h3> The Social To-Do List </h3>
   </header>


<div class="navbox">
    <div class="button"> <%= link_to 'Home', root_path %></div>
    
    <% if user_signed_in? %>
    <div class="button"><%= link_to 'My Profile', current_user %></div>
    <div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
      <div class="rightbutton">
        <%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %>
      <% else %>
          <%= link_to 'Log In', user_session_path %>
          <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %> 
  </div>
</div>
<div class="main">

<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <h3>Change your password</h3>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <div class="form-group">
      <%= f.label :password, 'New password' %>
        <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control' %>
      <%= f.label :password_confirmation, 'Confirm new password' %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
    </div>
     <%= f.submit 'Change my Password', :class => 'button right' %>
  <% end %>
</div>

</div>
<footer class="footer">
    Copyrighted by us in 2015
  </footer>
</div>
</body>
</html>