<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Tasker
	</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
	<header class="header">
		<h1> Welcome to Tasker! </h1>
		<h3> The Social To-Do List </h3>
	</header>

	<% if user_signed_in? %>
		<div class="navbox">
			<div class="button"> <%= link_to 'Home', root_path %></div>
			<div class="button"><%= link_to 'My Profile', current_user %></div>
			<div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
			<div class="button"><%= link_to 'All Users:', users_path %> <%= User.count %> registered </div>
			<div class="rightbutton"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></div>
		</div>
	<% end %> 

	<div class="main">
		<% if user_signed_in? %>
		<div class="feedwrapper">
			<div class="taskbox">
				<% if user_signed_in? %>
					<div class="pagetitle"> My To-Do List </div>
					<hr>
        			<% if current_user.tasks.empty? %>
            			<p>No Tasks!</p>
        			<% else %>
        				<% current_user.tasks.each do |task| %>
	        			<% if not task.finished %>
	        			<div class="tasklist">
					          <%= simple_form_for task do |f| %>
					      
									<%= f.submit '✓', :class => 'check'%> 
									<%= task.todo %>
							</div>
							<% end %>
						<% end %>
						<% end %>
        			<% end %>
				 	<div class="clicky"> <%= link_to 'Create Task', tasks_new_path%></div>
				 <% else %> 
				 	<div class = "signinmsg">Log in to display your tasks!</div>
			<% end %>
			</div>
			<div class="newsfeed">

	    				<% @task = Task.all.reverse_order %>
	  					<% @task.each do |task| %> 
	  						<% current_user.friends.each do |friend| %>
	  							<% if friend == User.find(task.user_id) %>
									<div class="task"> 
										<div class="name">
											<%= link_to User.find(task.user_id).name, User.find(task.user_id) %>
											<% if task.finished == false %>
												is working on: </div> <div class="time"><%= task.created_at %></div> 
											<% else %>
												finished working on: </div> <div class="time"><%= task.created_at %></div> 
											<% end %>
					  					<div class="con"><%= task.todo %></div> <br>
									</div> 
								<% end %>
							<% end %>
						<% end %>
						<p> Make more friends to show tasks here! </p>
			</div>
		</div>
		<% else %>
	<div class="signinbubble">
  		<div class="bigbutton"><%= link_to 'Log In', user_session_path %></div>
  		<div class="bigbutton"><%= link_to 'Sign Up', new_user_registration_path %></div>
	</div>
	<% end %>

	</div>
	<footer class="footer">
		Copyrighted by us in 2015
	</footer>
</div>
</body>
</html>