<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Tasker
	</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
	<header class="header">
		<h1> Welcome to Tasker! </h1>
		<h3> The Social To-Do List </h3>
	</header>

	<% if user_signed_in? %>
		<div class="navbox">
			<div class="button"> <%= link_to 'Home', root_path %></div>
			<div class="button"><%= link_to 'My Profile', current_user %></div>
			<div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
			<div class="button"><%= link_to 'All Users:', users_path %> <%= User.count %> registered </div>
			<div class="rightbutton"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></div>
		</div>
	<% end %> 

	<div class="main">
		<% if user_signed_in? %>
		<div class="feedwrapper">
			<div class="taskbox">
				<% if user_signed_in? %>
					<div class="pagetitle"> My Task List </div>
					<hr>
        			<% if current_user.tasks.empty? %>
            			<p>No Tasks!</p>
        			<% else %>
        				<% current_user.tasks.each do |task| %>
	        			<% if not task.finished %>
					          <%= simple_form_for task do |f| %>
					          	<ul>
								<li> <%= task.todo %>
								<%= f.submit 'Mark as Completed', :class => 'clicky'%> </li>
								</ul>
							<% end %>
						<% end %>
						<% end %>
        			<% end %>
				 	<div class="clicky"> <%= link_to 'Create Task', tasks_new_path%></div>
				 <% else %> 
				 	<div class = "signinmsg">Log in to display your tasks!</div>
			<% end %>
			</div>
			<div class="newsfeed">
				<p> 
				This is where you will see a newsfeed of all the tasks that your friends are currently working on! get excited bc its gonna be super cool B) 
				</p>
			</div>
		</div>
		<% else %>
	<div class="signinbubble">
  		<div class="bigbutton"><%= link_to 'Log In', user_session_path %></div>
  		<div class="bigbutton"><%= link_to 'Sign Up', new_user_registration_path %></div>
	</div>
	<% end %>

	</div>
	<footer class="footer">
		Copyrighted by us in 2015
	</footer>
</div>
</body>
</html>