<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Tasker
	</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
	<header class="header">
		<h1> Welcome to Tasker! </h1>
		<h3> The Social To-Do List </h3>
	</header>

	<div class="navbox">
		<div class="button"> Home </div>
		<div class="button"><%= link_to 'My Profile', current_user %></div>
		<div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
		<% if user_signed_in? %>
			<div class="button login">
  			<%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %>
			<% else %>
  				<%= link_to 'Log In', user_session_path %>
  				<%= link_to 'Sign Up', new_user_registration_path %>
			<% end %> </div>
	</div>

	<div class="main">
		<div class="feedwrapper">
			<div class="taskbox">
				<% if user_signed_in? %>
				<h3> My To-Do List </h3>
				<hr>
				     <ul>
        				<% if current_user.tasks.empty? %>
            				<p>No Tasks!</p>
        				<% else %>
	        				<% current_user.tasks.each do |task| %>
	          				<li>Task:<%= task.todo %> completed? <%= task.finished %></li>
	        				<% end %>
        				<% end %>
				 	<div class="button"> <%= link_to 'Create Task', tasks_new_path%></div>
				 <% else %> <p>Log In to display your tasks!</p> <hr>
			<% end %>
				 </ul>
			</div>
			<div class="newsfeed">
				<p> 
				This is where you will see a newsfeed of all the tasks that your friends are currently working on! get excited bc its gonna be super cool B) 
				</p>
			</div>
		</div>
	</div>
	<footer class="footer">
		Copyrighted by us in 2015
	</footer>
</div>
</body>
</html>