<div class="navbox">
		<div class="button"> <%= link_to 'Home', root_path %></div>
		<div class="button"><%= link_to 'My Profile', current_user %></div>
		<div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>
		<% if user_signed_in? %>
			<div class="button login">
  			<%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %>
			<% else %>
  				<%= link_to 'Log In', user_session_path %>
  				<%= link_to 'Sign Up', new_user_registration_path %>
			<% end %> </div>
<h2> Congratulations on finishing that task! </h2>
<center> <img src="http://www.yesvegetarian.com/wp-content/uploads/2014/11/Funny-cute-dog.jpg" alt="A cute dog with sunglasses." > </center>
