<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Tasker
  </title>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
  <header class="header">
    <h1> Welcome to Tasker! </h1>
    <h3> The Social To-Do List </h3>
  </header>

  <div class="navbox">
    <div class="button"> <%= link_to 'Home', root_path %></div>
    <% if user_signed_in? %>
      <div class="button"><%= link_to 'My Profile', current_user %></div>
      <div class="button"> <%= link_to 'Edit Your User', edit_user_registration_path %></div>

      <div class="rightbutton"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></div>
    <% else %>
        <div class="rightbutton"><%= link_to 'Log In', user_session_path %></div>
        <div class="rightbutton"><%= link_to 'Sign Up', new_user_registration_path %></div>
    <% end %> 
  </div>

  <div class="main">

<div class="authform">
  <div class="signinbubble">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <div class="pagetitle">Log in</div>
    <%= devise_error_messages! %>
      <div class="form-group">
      <%= f.email_field :email, class: 'field', placeholder: 'Email' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: 'field', placeholder: 'Password' %>
    </div>
    <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label style="font-size: 20px">
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <% end -%>
    <%= f.submit 'Sign in', :class => 'clicky' %>
      <br>
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Forgot password?", new_password_path(resource_name), class: 'clickable' %>
      <% end -%>
      <br>
      <br>
    </div>
  <% end %>
</div>
<br>
      <br>
  <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <div style="margin-bottom: -5px"> Have an account already?</div>
        <br>
        <%= link_to 'Sign up', new_registration_path(resource_name), class: 'clicky'  %>
      <% end -%>
      <br>
      <br>

</div>

  </div>
  <footer class="footer">
    Copyrighted by us in 2015
  </footer>
</div>
</body>
</html>

